body {
    background-color: #000;
}

.search-container {
    display: block;
    position: relative;
}

.search-input {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: none;
  background-color: transparent;
  color: white;
  outline: none;
}

span.search-icon-clickable {
    height: 30px;
    width: 30px;
}

span.search-icon-clickable:hover {
    cursor: pointer;
}

.search-icon-clickable .search-icon-small {
  position: relative;
  transform: translateY(-50%);
  transform: translate(45%, 25%);
  color: white;
}
span.search-icon-clickable:hover > .search-icon-small {
    display: none;
}

.search-icon-clickable .search-icon-large {
    display: none;
    color: white;
}

span.search-icon-clickable:hover > .search-icon-large {
    display: block;
}

.search {
    padding: 15px 15px 0 15px;
}

.sub-header {
    padding-bottom: 15px;
    font-style: italic;
    color: #e6e6e6;
}

.gif_of_the_day h3 {
    text-align: center;
    color: #e6e6e6;
}

#results {
    border-top: 2px solid;
    /* display: block; */
}

.result-container {
    /* padding: 5%; */
}

.result .name, .result .tags {
    color: #e6e6e6;
    padding: 0% 12%;
    overflow-wrap: break-word;
}

.result .name {
    font-weight: bold;
}

.result .tags {
    font-style: italic;
}

.image:hover {
    cursor: pointer;
}

.image {
    width: 90%;
    padding: 2% 2% 0% 2%;
}

.image img {
    position: relative;
    border-radius: 5px;
    max-width: 100%;
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 45px;
    background-color: gainsboro;
}

.hidden {
    display: none;
}